.floating-cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fcb84c;; /* Replace with your desired background color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .floating-cart-icon img {
    width: 100%; /* Adjust the size of the cart icon */
    height: 100%;
    border-radius: 50%;
  }
  
  
.cart-icon {
    position: relative;
    cursor: pointer;
  }
  
  .cart-item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    display: inline-block;
    padding: 4px 8px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
  }