/* OrderList.css */
.order-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
 
  .order{
    color: rgb(3, 138, 255);
  }
  .order-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .order-list ul {
    list-style: none;
    padding: 0;
  }
  
  .order-list li {
    background-color: #ffeca2;
    border: 1px solid #132fff;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .order-list li p {
    margin: 5px 0;
  }
  
  